.skillsSection {
  margin-bottom: 1.5rem;

  .formRow {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 0.5rem;
  }
}

.unvisibleLevelButton {
  position: absolute;
  top: 0;
  right: 38px;
}
