*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: #fff;
  color: #58585f;
  font-size: 62.5%;
  font-family: HK Grotesk, sans-serif;
  height: 100%;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  height: 100%;
  line-height: inherit;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.page-wrap {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
